[Desktop Entry]
Name=Eye of Gnome
Name[da]=GNOME's Ьje
Name[es]=Ojo de Gnome
Name[pl]=Oko Gnoma
Name[sv]=Eye of Gnome
Name[uk]=Око Гнома
Comment=Image Viewer
Comment[da]=Billedfremviser
Comment[es]=Visor de imАgenes
Comment[pl]=Przegl╠darka plikСw graficznych
Comment[sv]=Bildvisning
Comment[uk]=Переглядач зображень
TryExec=eog
Exec=eog
Icon=gnome-eog.png
Terminal=0
Type=Application
