[Desktop Entry]
Name=Eye of Gnome
Name[es]=Ojo de Gnome
Comment=Image Viewer
Comment[es]=Visor de imágenes
TryExec=eog
Exec=eog
Icon=gnome-eog.png
Terminal=0
Type=Application
