GtkScrollbar#eog-image-gallery-scrollbar {
	-GtkScrollbar-has-backward-stepper: false;
	-GtkScrollbar-has-secondary-backward-stepper: false;
	-GtkScrollbar-has-forward-stepper: false;
	-GtkScrollbar-has-secondary-forward-stepper: false;
	-GtkScrollbar-min-slider-length: 60;
}

GtkLabel#eog-sidebar-title {
	font-weight: bold;
}

EogScrollView GtkOverlay GtkButton {
	opacity: 0.7;
}

EogScrollView GtkOverlay GtkButton:hover,
EogScrollView GtkOverlay GtkButton:prelight {
	opacity: 1.0;
}
